PORT=3333
NODE_ENV=development

# API Server
VITE_BASE_URL=http://localhost:3333

# AWS S3 Static Website Hosting
VITE_S3_BUCKET_NAME=your-bucket-name
VITE_S3_REGION=us-east-1
VITE_S3_WEBSITE_URL=http://your-bucket-name.s3-website-us-east-1.amazonaws.com

#Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/upload"

#Cloudflare
CLOUDFLARE_ACCOUNT_ID=your_account_id_here
CLOUDFLARE_ACCESS_KEY_ID=your_access_key_id_here
CLOUDFLARE_SECRET_ACCESS_KEY=your_secret_access_key_here
CLOUDFLARE_BUCKET=ftr-upload-server
CLOUDFLARE_PUBLIC_URL=https://pub-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.r2.dev
